.mainCard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 120px;
    
   

}
h1{
    text-align: center;
}
/* phone */
@media screen and (max-width:600px){
    .mainCard{
        /* display: grid;
        grid-template-columns: auto auto auto auto;
       
     
        margin-top: 120px; */

    }


}