.from-section{
 
}
@media screen and  (max-width:600px){
   .abc form {
       
        margin-left: 0px!important;
       
        border-radius: 8px;
        width: 100%!important;
        height: 600px;
        
        
    }
    .abc form button{
        margin-top: 20px;
        margin-bottom: 2px!important;
        
    }
    .abc form input{
        display: grid;
        justify-content: center;
        
        
        
        
    }
    .modal-body h2{
        color:#157347;
        font-size: 26px;
        font-weight: bold;
        
       
    }
    .modal-body h6{
        color:#157347;
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
    }
    .modal-body img{
        margin-top: 15px;
    }
    


}